.main

  .main__top
    .group-top
      %p.group-top__name
        = @group.name
      %p.group-top__member 
        = @group.users.pluck(:name)
    = link_to "Edit", "#",class: "edit--btn"

  .main__messages
    = render @messages
      
  .main__form
    = form_for [@group, @message], html: { class: "main__form--container" } do |f|
      = f.text_field :body, class: "text__form", placeholder: "type a message"
      = f.label :image, class: "image__file" do
        = icon('far', 'image')
        = f.file_field :image, class: "image__select"
      = f.submit "Send", class: "send__btn"