.side
  .side__top
    .side__top--info
      %p.user__name
        = current_user.name
      .icons
        = link_to new_group_path, class: "link-style" do
          = icon('far', 'edit', class: "pen-icon")
        = link_to edit_user_path(current_user), class: "link-style" do
          = icon('fas', 'cog', class: "cog-icon")
  .side__group
    - current_user.groups.each do |group|
      %ul.group__list
        = link_to '#', class: "link-style" do
          %li.group__list--info
            %p.group__list--name
              = group.name
            %p.group__list--message
              まだメッセージがありません