.side
  .side__top
    .side__top--info
      %p.user__name
        = current_user.name
      .icons
        = link_to new_group_path do
          = icon('far', 'edit', class: "pen-icon")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "cog-icon")
  .side__group
    %ul.group__list
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません
      %li.group__list--info
        %p.group__list--name techcamp
        %p.group__list--message まだメッセージがありません